<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="text-center mt-5">Ready to boost your business?</h1>
            <p class="text-center">Complete the information to continue with
                your subscription.</p>
            <form [formGroup]="myForm">
                <mat-form-field appearance="outline" class="w-100 mt-2">
                    <mat-label>Bussiness name</mat-label>
                    <input matInput placeholder formControlName="businessName">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Business Type</mat-label>
                    <input matInput placeholder
                        formControlName="businessType">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Business location</mat-label>
                    <input matInput placeholder
                        formControlName="businessLocation">
                </mat-form-field>
                <button (click)="crear()" mat-raised-button class="w-100 mt-3"
                    color="primary">Send
                    information</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
