<div class="sus d-flex justify-content-center gap-5">
    <div style="width: 400px;" class="shadow-sm mt-4">
        <img height="300px" class="w-100" src="../../../../assets/sus1.png"
            alt="susc">
        <div class="px-4 py-3">
            <h4 class="fw-bold">Subscription - MusicBusiness</h4>
            <p>For the musicians.</p>
            <ul>
                <li>Promote your presentations</li>
                <li>Contract management</li>
                <li>International exhibition</li>
                <li>Monetization</li>
            </ul>
            <div class="d-flex justify-content-between mt-4">
                <div
                    style="display: flex; flex-direction: column; align-items: center;">
                    <span class="fw-bold" style="font-size: 2rem;">$10</span>
                    <span class="mt-1">per month</span>
                </div>
                <button mat-raised-button color="primary"
                    routerLink="/register-musical">Subscribe</button>
            </div>
        </div>
    </div>
    <div style="width: 400px;" class="shadow-sm mt-4">
        <img height="300px" class="w-100" src="../../../../assets/sus2.png"
            alt="susc">
        <div class="px-4 py-3">
            <h4 class="fw-bold">Subscription - Enterprise</h4>
            <p>For clubs or bars.</p>
            <ul>
                <li>Greater number of contracts</li>
                <li>Largest choice catalog</li>
                <li>Quick contracts</li>
                <li>Full features</li>
            </ul>
            <div class="d-flex justify-content-between mt-4">
                <div
                    style="display: flex; flex-direction: column; align-items: center;">
                    <span class="fw-bold" style="font-size: 2rem;">$15</span>
                    <span class="mt-1">per month</span>
                </div>
                <button mat-raised-button color="primary"
                    routerLink="/register-enterprice">Subscribe</button>
            </div>
        </div>
    </div>

</div>